extends ../layout

block content
  .container.d-flex.flex-column.show
    h2.main-title.show_title=item.tour.title
    img.img-fluid(src=item.tour.main_photo, alt="main tour photo")
    .order_form
      p 인원을 선택하세요.
      form(action=`/users/new/order/${item.tour._id}`, method="post")
        .row_show.d-flex.flex-row
          .input-group.mb-3
            -var n = 1;
            span 인원 : 
            select#inputGroupSelect02.custom-select(name = 'num_people')
              while n < item.tour.max_num_people+1
                option(value= n)= n++
            .input-group-append
              label.input-group-text(for='inputGroupSelect02') 명
          span 가격 : 
          p#price= item.tour.price
          span 원
        p#total_price
        .row.d-flex.flex-row
          span 날짜 : 
          input#datepicker(type="text", name='date')
          button.btn.btn-primary(type='button' onclick= 'mutiply()') 금액 조회하기
        input(type="hidden", name="guide", value= item.tour.guide._id)
        input(type="hidden", name="price", value= item.tour.price)
        button.btn.btn-primary(type="submit") 예약하기

    h4 상품 설명
    p= item.tour.description
    -var time;
    h4 코스 소개
    each course in item.course_items
      -time = `${course.require_hour} 시간 ${course.require_minute}분 소요`;
      .course_item
        .course_body
          img.img-thumbnail.rounded.float-left(src=course.photo, alt="course photo")
          .course_description
            h5= course.title
            span= time
            p= course.description
    h4 가이드 소개
    .guide_name.d-flex.flex-row
      img(src=item.tour.guide.profile_photo, alt="guide photo")
      p= item.tour.guide.name
    p= item.tour.guide.profile
    a.btn.btn-info.btn-lg(href=`/users/wish/${item.tour._id}`)
      span.glyphicon.glyphicon-shopping-cart
        | Shopping Cart
    h4 후기
    form(action=`/reviews/${item.tour._id}`, method="post")
      .input
        .input_form
          input.form-control(type="text", name="title", placeholder="제목을 적어주세요.")
          textarea.form-control(name="review_body", cols="30", rows="10", placeholder="소중한 후기를 적어주세요.")
          input.form-control-file#file(type="file")
          input#url.form-control(type="hidden", readonly="readonly", name="photo", value="")
        button.btn.btn-primary(type='submit') 입력
    each review in reviews
      .coment.justify-content-between
        .body
          p= review.title
          .sub_info
            span= review.user.name
            span= moment(review.createdAt).format('YYYY-MM-DD HH:mm:ss')
          p= review.description
        if(review.photo != '')
          img.img-thumbnail.rounded(src=review.photo, alt="review_photo")
      


  script(src="/javascripts/image.js")
  script(src="/javascripts/calculator.js")
  script.
    $(function() {
      $("#datepicker").datepicker();
    });
