extends ../layout

block content
  .container.d-flex.flex-column
    h2.main-title 나의 예약 목록
    table.table.table-hover
      thead
        tr
          th 투어 상품
          th 예약 인원
          th 예약 날짜
          th 가격
          th
      tbody
        each order in orders
          tr
            td
              a(href=`/tours/show/${order.tour._id}`)=order.tour.title
            td= order.num_people
            td= moment(order.order_date).format('YYYY-MM-DD HH:mm:ss')
            td= order.price
            td
              a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/users/order/${order._id}?_method=DELETE`)
                | #[i.fa.fa-trash] 예약취소