extends ../layout

block content
  .container.d-flex.flex-column
    h2.main-title tour list

    table.table.table-hover
      thead
        tr
          th Place
          th Name
          th Created At
          th
      tbody
        each tour in tours
          tr
            -var place = `${tour.contry}>${tour.city}`;
            td= place
            td
              a(href=`/tours/show/${tour._id}`)= tour.title
            td= moment(tour.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td
              a.btn.btn-sm.btn-outline-secondary(href=`/tours/edit_tour/${tour._id}`) 
                | #[i.fa.fa-pencil] Edit
              | 
              a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/tours/${tour._id}?_method=DELETE`)
                | #[i.fa.fa-trash] Delete